.music-player-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.music-player-image {
    width: 300px;
    height: 300px;
    border-radius: 1rem;
}

.music-player-title {
  color: rgb(215, 215, 215);
  font-size: 1.5rem;
  font-weight: 700;
}

.music-player-artist {
  color: rgb(143, 144, 144);
  font-size: 1rem;
  font-weight: 700;
}

.music-player-date {
    color: rgb(143, 144, 144);
    font-size: 1rem;
    font-weight: 500;
}